<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <!-- Example permission for internet access -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="SHREE SAI PARVATI OIL AND PRODUCTS"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.shreeparvatioilandproducts"
        tools:targetApi="31">
        <activity
            android:name=".SignActivity"
            android:exported="false" />
        <activity
            android:name=".LoginActivity"
            android:exported="false" />
        <activity
            android:name=".PayOutActivity"
            android:exported="false" />
        <activity
            android:name=".SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".StartActivity"
            android:exported="true" /> <!-- MainActivity with launcher intent -->
        <activity
            android:name=".MainActivity"
            android:exported="true" /> <!-- Products Activity -->
        <activity
            android:name=".ProductsActivity"
            android:exported="true"
            android:theme="@style/Theme.shreeparvatioilandproducts" /> <!-- Cart Activity -->
        <activity
            android:name=".CalculateBillActivity"
            android:exported="true"
            android:theme="@style/Theme.shreeparvatioilandproducts" /> <!-- About Us Activity -->
        <activity
            android:name=".AboutUsActivity"
            android:exported="false"
            android:theme="@style/Theme.shreeparvatioilandproducts" /> <!-- Contact Us Activity -->
        <activity
            android:name=".ContactUsActivity"
            android:exported="false"
            android:theme="@style/Theme.shreeparvatioilandproducts" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>